.clickable {
	position: absolute;
	top: 92%;
	left: 30%;
	right: 2%;
    border: 1px solid #333;
    background: #eee;
}

.progress {
    position:absolute;
    left:0;
    top:0;
    background:yellow;
}

.mainArea {
	position: absolute;
	top: 4%;
	right: 2%;
	bottom: 8%;
	left: 2%;
	z-index: 0;
}

#loading {
	display:none;
	position: fixed;
    left: 50%;
    top: 50%;
	margin-top: -50px;
	margin-left: -50px;
	pointer-events: none;
}

#overlay {
	pointer-events: none;
}

#taskbar {
	position: absolute;
	bottom: 96%;
	left: 2%;
}

#buttons {
	position: absolute;
	top: 92%;
	left: 2%;
	right: 70%;
}